* {
  outline: none;
  transition: all 0.3s;
}
html {
  scroll-behavior: smooth;
}

html.dark body {
  background-color: #070a05;
}
html.light body {
  background-color: #f7faf5;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
.safe-area {
  min-height: 100dvh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
