* {
  outline: none;
  transition: all 0.3s;
}
html.dark body {
  background-color: #191919;
}
html.light body {
  background-color: #f2f2f2;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
